<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="snippets.html :: name_head"></head>
<link rel="stylesheet" th:href="@{/static/css/app.css}">
<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div class="container">
    <h3>Brands</h3>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-12" th:if="${info.getRole()!='operator'}">

            <div class="modal" tabindex="-1" role="dialog" id="add-brand-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Brand Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form needs-validation" style="text-align: justify;" id="brand-form" novalidate>
                                <div class="form-group my-3">
                                    <label for="inputBrand" class="col-sm-2 col-form-label required-label">Brand<span class="required-asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="brand" id="inputBrand" placeholder="Enter Brand"contenteditable="true" required>
                                        <div class="invalid-feedback">Please enter a brand.</div>
                                    </div>
                                </div>
                                <div class="form-group my-3">
                                    <label for="inputCategory" class="col-sm-2 col-form-label required-label">Category<span class="required-asterisk">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="category" id="inputCategory" placeholder="Enter Category" contenteditable="true" required>
                                        <div class="invalid-feedback">Please enter a category.</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                <div class="d-flex gap-2 align-items-center">
                                    <i class="fas fa-times" style="font-size: 15px; margin-right: 10px;"></i>
                                    Cancel
                                </div>
                            </button>
                            <button type="button" class="btn btn-success" id="add-brand">
                                <div class="d-flex gap-2 align-items-center">
                                    <i class="fas fa-plus-circle" style="font-size: 15px; margin-right: 10px;"></i>
                                    Add
                                </div>
                            </button>


                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <button type="button" class="btn btn-success" id="modal-add-brand">
                    <div class="d-flex gap-2 align-items-center">
                        <i class="fas fa-plus-circle" style="font-size: 15px; margin-right: 10px;"></i>
                        Add
                    </div>
                </button>
                &nbsp;
                <button type="button" class="btn btn-info" id="upload-data">
                    <div class="d-flex gap-2 align-items-center">
                        <i class="fas fa-upload" style="font-size: 15px; margin-right: 10px;"></i>
                        Upload
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        &nbsp;
    </div>

    <div class="row">

        <div class="col-12">
            <table class="table table-striped" id="brand-table">
                <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col" th:if="${info.getRole()!='' && info.getRole()!='operator'}">Action</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <!-- Pagination links will be added dynamically here -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="upload-brand-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload Brand Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="brand-file">
                        <input type="file" class="custom-file-input" id="brandFile">
                        <label class="custom-file-label" for="brandFile" id="brandFileName">Choose file</label>
                    </div>
                    <br>
                    Errors: <span id="errorCount">0</span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <div class="d-flex gap-2 align-items-center">
                            <i class="fas fa-times" style="font-size: 15px; margin-right: 10px;"></i>
                            Cancel
                        </div>
                    </button>
                    <button type="button" class="btn btn-primary" id="process-data" disabled>
                        <div class="d-flex gap-2 align-items-center">
                            <i class="fas fa-spinner fa-spin" style="font-size: 15px; margin-right: 10px; display: none;"></i>
                            <i class="fas fa-upload" style="font-size: 15px; margin-right: 10px;"></i>
                            Upload
                        </div>
                    </button>
                    <button type="button" class="btn btn-warning" id="download-errors" disabled>
                        <div class="d-flex gap-2 align-items-center">
                            <i class="fas fa-download" style="font-size: 15px; margin-right: 10px;"></i>
                            Download Errors
                        </div>
                    </button>
                </div>
            </div>
        </div>

</div>

    <div class="modal" tabindex="-1" role="dialog" id="edit-brand-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Brand Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form needs-validation" id="brand-edit-form" novalidate>
                        <div class="form-group my-3">
                            <label for="inputBrand" class="col-sm-2 col-form-label required-label">Brand<span class="required-asterisk">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="brand" placeholder="Enter Brand" contenteditable="true" required>
                            </div>
                        </div>
                        <div class="form-group my-3">
                            <label for="inputCategory" class="col-sm-2 col-form-label required-label">Category<span class="required-asterisk">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="category" placeholder="Enter Category" contenteditable="true" required>
                                <div class="invalid-feedback">Please enter a category.</div>
                            </div>
                        </div>
                        <input type="hidden" name="id">
                    </form>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <div class="d-flex gap-2 align-items-center">
                            <i class="fas fa-times" style="font-size: 15px; margin-right: 10px;"></i>
                            Cancel
                        </div>
                    </button>
                    <button type="button" class="btn btn-primary" id="update-brand">
                        <div class="d-flex gap-2 align-items-center">
                            <i class="fas fa-pen-square" style="font-size: 15px; margin-right: 10px;"></i>
                            Update
                        </div>
                    </button>


                </div>
            </div>
        </div>
    </div>


</div>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/js/brand.js}"/></script>
</body>
</html>