<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>
<link rel="stylesheet" th:href="@{/static/css/index.css}">
<body>
<nav th:replace="snippets.html :: name_site_navbar"></nav>

<!-- Start Landing Page -->
<div class="landing-page">

    <div class="content">
        <div class="container">
            <div class="info">
                <h1>Point of Sale Application</h1>
                <p>Elevate your business with our feature-rich Point of Sale solution, designed to boost sales and enhance customer experience.</p>
                <a th:href="@{/login}" style="text-decoration: none;">
                    <button>Login</button>
                </a>
            </div>
            <div class="image">
                <img th:src="@{/static/images/landing.jpg}">
            </div>
        </div>
    </div>
</div>
<!-- End Landing Page -->

<footer th:replace="snippets.html :: name_footer"></footer>

</body>

</html>