<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>


<link rel="stylesheet" th:href="@{/static/css/login.css}">
<body>

<!--<nav th:replace="snippets.html :: name_site_navbar"></nav>-->


<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form class="form" id="init-form" method="POST" onsubmit="validateForm(event)" th:action="@{/site/signup}">
            <h1>Create Account</h1>
            <input name="email" id="email" type="email" placeholder="email" />
            <input type="password" placeholder="Password" name="password" id="password"
                   pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                   title="Password must be at least 8 characters long and include at least one letter, one number, and one special character">
            <button type = "submit">Sign Up</button>

        </form>
    </div>
    <div class="form-container sign-in-container" >
        <form id="login-form" method="POST" th:action="@{/session/login}">
            <h1>Login</h1>
<!--            <div class="social-container">-->
<!--                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>-->
<!--                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>-->
<!--                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>-->
<!--            </div>-->
<!--            <span>or use your account</span>-->
            <input  name="email" id="email" type="email" placeholder="Email" />
            <input name="password" id="password" type="password" placeholder="Password" />
            <button type="submit" id="login">Login</button>
            <div class="my-2 text-danger">
                [[${info.getMessage()}]]
            </div>

        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Login</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Signup</button>
            </div>
        </div>
    </div>
</div>


<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/js/login.js}"/></script>

</body>

</html>